.smallImage{
    width:15%;
}

.searchResult{
    border:2px solid teal;
    border-radius:10px;
    margin: 5px;
}

.smallIcon{
    width:5%;
}

.pickFromTo, .search-result{
    width:90%;
    padding: 10px;
    border-radius: 10px;
    background-color: #F8F7F5;
    box-shadow:1px 3px 10px gray;
}


.pickFromTo input{
    width: 90%;
}

.pickFromToFont{
    font-size: x-large;
    text-align: left;
}