.login-container{
    margin: auto;
}

.login{
    width: 90%;
    border-radius: 10px;
    background-color: #F8F7F5;
    box-shadow:1px 3px 10px gray;
}

.login form input{
    width:90%;
    margin: 10px;
}

.clickToChange{
    cursor: pointer;
    color: orangered;
}

.error{
    color: red;
    display: none;
}
.google{
    font-size:xx-large;
    color: #4285f4;
}